<!DOCTYPE html>
<html>
    <head>
        <title>Loja</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <!-- ===== Fontawesome CDN Link ===== -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <!-- script
    ================================================== -->
        <script src="/static/js/modernizr.js"></script>
    </head>
    <body
        data-bs-spy="scroll"
        data-bs-target="#navbar"
        data-bs-root-margin="0px 0px -40%"
        data-bs-smooth-scroll="true"
        tabindex="0"
    >
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>Search</title>
                <path fill="currentColor" d="M19 3C13.488 3 9 7.488 9 13c0 2.395.84 4.59 2.25 6.313L3.281 27.28l1.439 1.44l7.968-7.969A9.922 9.922 0 0 0 19 23c5.512 0 10-4.488 10-10S24.512 3 19 3zm0 2c4.43 0 8 3.57 8 8s-3.57 8-8 8s-8-3.57-8-8s3.57-8 8-8z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
            <svg xmlns="http://www.w3.org/2000/svg" id="chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
            <symbol xmlns="http://www.w3.org/2000/svg" id="chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="cart-outline" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="quality" viewBox="0 0 16 16">
                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="price-tag" viewBox="0 0 16 16">
                <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="shield-plus" viewBox="0 0 16 16">
                <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                <path d="M8 4.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V9a.5.5 0 0 1-1 0V7.5H6a.5.5 0 0 1 0-1h1.5V5a.5.5 0 0 1 .5-.5z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="star-empty" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="star-half" viewBox="0 0 16 16">
                <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="quote" viewBox="0 0 24 24">
                <path fill="currentColor" d="m15 17l2-4h-4V6h7v7l-2 4h-3Zm-9 0l2-4H4V6h7v7l-2 4H6Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="facebook" viewBox="0 0 24 24">
                <path fill="currentColor" d="M9.198 21.5h4v-8.01h3.604l.396-3.98h-4V7.5a1 1 0 0 1 1-1h3v-4h-3a5 5 0 0 0-5 5v2.01h-2l-.396 3.98h2.396v8.01Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="youtube" viewBox="0 0 32 32">
                <path fill="currentColor" d="M29.41 9.26a3.5 3.5 0 0 0-2.47-2.47C24.76 6.2 16 6.2 16 6.2s-8.76 0-10.94.59a3.5 3.5 0 0 0-2.47 2.47A36.13 36.13 0 0 0 2 16a36.13 36.13 0 0 0 .59 6.74a3.5 3.5 0 0 0 2.47 2.47c2.18.59 10.94.59 10.94.59s8.76 0 10.94-.59a3.5 3.5 0 0 0 2.47-2.47A36.13 36.13 0 0 0 30 16a36.13 36.13 0 0 0-.59-6.74ZM13.2 20.2v-8.4l7.27 4.2Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="twitter" viewBox="0 0 256 256">
                <path fill="currentColor" d="m245.66 77.66l-29.9 29.9C209.72 177.58 150.67 232 80 232c-14.52 0-26.49-2.3-35.58-6.84c-7.33-3.67-10.33-7.6-11.08-8.72a8 8 0 0 1 3.85-11.93c.26-.1 24.24-9.31 39.47-26.84a110.93 110.93 0 0 1-21.88-24.2c-12.4-18.41-26.28-50.39-22-98.18a8 8 0 0 1 13.65-4.92c.35.35 33.28 33.1 73.54 43.72V88a47.87 47.87 0 0 1 14.36-34.3A46.87 46.87 0 0 1 168.1 40a48.66 48.66 0 0 1 41.47 24H240a8 8 0 0 1 5.66 13.66Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="instagram" viewBox="0 0 256 256">
                <path fill="currentColor" d="M128 80a48 48 0 1 0 48 48a48.05 48.05 0 0 0-48-48Zm0 80a32 32 0 1 1 32-32a32 32 0 0 1-32 32Zm48-136H80a56.06 56.06 0 0 0-56 56v96a56.06 56.06 0 0 0 56 56h96a56.06 56.06 0 0 0 56-56V80a56.06 56.06 0 0 0-56-56Zm40 152a40 40 0 0 1-40 40H80a40 40 0 0 1-40-40V80a40 40 0 0 1 40-40h96a40 40 0 0 1 40 40ZM192 76a12 12 0 1 1-12-12a12 12 0 0 1 12 12Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="linkedin" viewBox="0 0 24 24">
                <path fill="currentColor" d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="nav-icon" viewBox="0 0 16 16">
                <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="navbar-icon" viewBox="0 0 16 16">
                <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
            </symbol>
        </svg>
        <div class="search-popup">
            <div class="search-popup-container">
                <form
                    role="search"
                    method="get"
                    class="search-form"
                    action=""
                >
                    <input
                        type="search"
                        id="search-form"
                        class="search-field"
                        placeholder="Type and press enter"
                        value=""
                        name="s"
                    >
                    <button type="submit" class="search-submit">
                        <svg class="search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>
                <h5 class="cat-list-title">Browse Categories</h5>
                <ul class="cat-list">
                    <li class="cat-list-item">
                        <a href="#" title="Mobile Phones">Mobile Phones</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="#" title="Smart Watches">Smart Watches</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="#" title="Headphones">Headphones</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="#" title="Accessories">Accessories</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="#" title="Monitors">Monitors</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="#" title="Speakers">Speakers</a>
                    </li>
                    <li class="cat-list-item">
                        <a href="#" title="Memory Cards">Memory Cards</a>
                    </li>
                </ul>
            </div>
        </div>
        <header id="header" class="site-header header-scrolled bg-nav" style="z-index: 999999;margin: 0;">
            <nav id="header-nav" class="navbar navbar-expand-lg px-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{url_for('init_page')}}">
                        <!-- <img src="/static/images/main-logo.png" class="logo"> -->
                        <h2>LOGO</h2>
                    </a>
                    <button
                        class="navbar-toggler d-flex d-lg-none order-3 p-2"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#bdNavbar"
                        aria-controls="bdNavbar"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <svg class="navbar-icon">
                            <use xlink:href="#navbar-icon"></use>
                        </svg>
                    </button>
                    <div
                        class="offcanvas offcanvas-end"
                        tabindex="-1"
                        id="bdNavbar"
                        aria-labelledby="bdNavbarOffcanvasLabel"
                    >
                        <div class="offcanvas-header px-4 pb-0">
                            <a class="navbar-brand" href="{{url_for('init_page')}}">
                                <!-- <img src="/static/images/main-logo.png" class="logo"> -->
                                <h2>LOGO</h2>
                            </a>
                            <button
                                type="button"
                                class="btn-close btn-close-black"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                                data-bs-target="#bdNavbar"
                            ></button>
                        </div>
                        <div class="offcanvas-body" style="margin-left: auto;margin-right: 5%;">
                            <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link me-4 link-dark"
                                        data-bs-toggle="dropdown"
                                        href="#"
                                        role="button"
                                        aria-expanded="false"
                                    >MASCULINO</a>
                                    <ul class="dropdown-menu dropdown-menu-nav">
                                        <li>
                                            <a href="about.html" class="dropdown-item">About</a>
                                        </li>
                                        <li>
                                            <a href="blog.html" class="dropdown-item">Blog</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="dropdown-item">Shop</a>
                                        </li>
                                        <li>
                                            <a href="cart.html" class="dropdown-item">Cart</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html" class="dropdown-item">Checkout</a>
                                        </li>
                                        <li>
                                            <a href="single-post.html" class="dropdown-item">Single Post</a>
                                        </li>
                                        <li>
                                            <a href="single-product.html" class="dropdown-item">Single Product</a>
                                        </li>
                                        <li>
                                            <a href="contact.html" class="dropdown-item">Contact</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link me-4 link-dark"
                                        data-bs-toggle="dropdown"
                                        href="#"
                                        role="button"
                                        aria-expanded="false"
                                    >FEMININO</a>
                                    <ul class="dropdown-menu dropdown-menu-nav">
                                        <li>
                                            <a href="about.html" class="dropdown-item">About</a>
                                        </li>
                                        <li>
                                            <a href="blog.html" class="dropdown-item">Blog</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="dropdown-item">Shop</a>
                                        </li>
                                        <li>
                                            <a href="cart.html" class="dropdown-item">Cart</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html" class="dropdown-item">Checkout</a>
                                        </li>
                                        <li>
                                            <a href="single-post.html" class="dropdown-item">Single Post</a>
                                        </li>
                                        <li>
                                            <a href="single-product.html" class="dropdown-item">Single Product</a>
                                        </li>
                                        <li>
                                            <a href="contact.html" class="dropdown-item">Contact</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link me-4 link-dark"
                                        data-bs-toggle="dropdown"
                                        href="#"
                                        role="button"
                                        aria-expanded="false"
                                    >BONÉS</a>
                                    <ul class="dropdown-menu dropdown-menu-nav">
                                        <li>
                                            <a href="about.html" class="dropdown-item">About</a>
                                        </li>
                                        <li>
                                            <a href="blog.html" class="dropdown-item">Blog</a>
                                        </li>
                                        <li>
                                            <a href="shop.html" class="dropdown-item">Shop</a>
                                        </li>
                                        <li>
                                            <a href="cart.html" class="dropdown-item">Cart</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html" class="dropdown-item">Checkout</a>
                                        </li>
                                        <li>
                                            <a href="single-post.html" class="dropdown-item">Single Post</a>
                                        </li>
                                        <li>
                                            <a href="single-product.html" class="dropdown-item">Single Product</a>
                                        </li>
                                        <li>
                                            <a href="contact.html" class="dropdown-item">Contact</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link me-4" href="#smart-watches">NOVIDADES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link me-4" href="#yearly-sale">BÁSICA</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link me-4" href="#destaques">MAIS VENDIDOS</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link me-4 link-dark"
                                        data-bs-toggle="dropdown"
                                        href="#"
                                        role="button"
                                        aria-expanded="false"
                                    >Ver +</a>
                                    <ul class="dropdown-menu dropdown-menu-nav">
                                        <li>
                                            <a href="about.html" class="dropdown-item">Crianças</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <div class="user-items icones-style-nav ps-5">
                                        <ul class="d-flex justify-content-end list-unstyled">
                                            <li class="search-item pe-3">
                                                <a href="#" class="search-button">
                                                    <i class="bi bi-search"></i>
                                                </a>
                                            </li>
                                            <li class="user-dropdown pe-3">
                                                <a href="{{url_for('auth_page_client')}}">
                                                    <i class="bi bi-person"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="button-container-position fixed-bottom d-flex justify-content-end pe-3 mb-3">
            <a
                type="button"
                class="btn d-flex justify-content-center align-items-center"
                style="height: 50px;width: 50px;border-radius: 50%;background-color: black;font-weight: bold;"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"
            >
                <i class="bi bi-bag" style="color: yellow;font-size: 20px;"></i>
            </a>
        </div>
        <section id="billboard" class="position-relative overflow-hidden bg-light-blue">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/banner-image.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/banner-image2.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section id="company-services" class="padding-large">
            <div class="container">
                <div class="row" style="justify-content: space-between;">
                    <div class="col-lg-3 col-md-6 pb-3">
                        <div class="icon-box d-flex">
                            <div class="icon-box-icon pe-3 pb-3">
                                <i class="bi bi-speedometer2" style="font-size: 18px;"></i>
                            </div>
                            <div class="icon-box-content" style="font-size: 12px;">
                                <span style="font-size: 12px;font-weight: bold;">Pague com PIX</span>
                                <br>
                                <span style="font-size: 12px;">Tenha desconto ao pagar com PIX</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pb-3">
                        <div class="icon-box d-flex">
                            <div class="icon-box-icon pe-3 pb-3">
                                <i class="bi bi-truck" style="font-size: 18px;"></i>
                            </div>
                            <div class="icon-box-content" style="font-size: 12px;">
                                <span style="font-size: 12px;font-weight: bold;">Frete Grátis</span>
                                <br>
                                <span style="font-size: 12px;">Frete grátis nas compras acima de R$249,99</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pb-3">
                        <div class="icon-box d-flex">
                            <div class="icon-box-icon pe-3 pb-3">
                                <i class="bi bi-credit-card-2-front" style="font-size: 18px;"></i>
                            </div>
                            <div class="icon-box-content" style="font-size: 12px;">
                                <span style="font-size: 12px;font-weight: bold;">Parcele suas compras</span>
                                <br>
                                <span style="font-size: 12px;">
                                    Parcele em até 4x sem juros
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="destaques" class="product-store position-relative padding-large no-padding-top">
            <div class="container">
                <div class="row">
                  <div class="display-header d-flex justify-content-between pb-3">
                    <h2 class="display-7 text-dark text-uppercase">destaques</h2>
                    <div class="btn-right">
                      <a href="{{url_for('destaques_page')}}" class="btn btn-medium btn-normal text-uppercase">ver Mais </a>
                    </div>
                  </div>
                  <div class="swiper product-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                    <div class="swiper-wrapper" id="swiper-wrapper-ace72b6693b75508" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); transition-delay: 0ms;">
                      <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 185px; margin-right: 20px;">
                        <div class="product-card position-relative">
                          <div class="image-holder">
                            <img src="/static/images/image-produtos/imagem1.png" alt="product-item" class="img-fluid">
                          </div>
                          <div class="cart-concern position-absolute">
                            <div class="cart-button d-flex">
                              <a href="#" class="btn btn-medium btn-black" style="background-color: #051119;">Ver<i class="fa-solid fa-eye" style="margin-left: 5px;"></i></a>
                            </div>
                          </div>
                          <div class="card-detail d-block justify-content-between align-items-baseline pt-3">
                            <h6 class="card-title text-uppercase">
                              <a href="#">Camisa Faether</a><br>
                            </h6>
                            <span class="item-price" style="font-weight: bold;font-size: 18px;">R$ 119,99</span>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 185px; margin-right: 20px;">
                        <div class="product-card position-relative">
                          <div class="image-holder">
                            <img src="/static/images/image-produtos/imagem1.png" alt="product-item" class="img-fluid">
                          </div>
                          <div class="cart-concern position-absolute">
                            <div class="cart-button d-flex">
                              <a href="#" class="btn btn-medium btn-black" style="background-color: #051119;">Ver<i class="fa-solid fa-eye" style="margin-left: 5px;"></i></a>
                            </div>
                          </div>
                          <div class="card-detail d-block justify-content-between align-items-baseline pt-3">
                            <h6 class="card-title text-uppercase">
                              <a href="#">Camisa Faether</a><br>
                            </h6>
                            <span class="item-price" style="font-weight: bold;font-size: 18px;">R$ 119,99</span>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 185px; margin-right: 20px;">
                        <div class="product-card position-relative">
                          <div class="image-holder">
                            <img src="/static/images/image-produtos/imagem1.png" alt="product-item" class="img-fluid">
                          </div>
                          <div class="cart-concern position-absolute">
                            <div class="cart-button d-flex">
                              <a href="#" class="btn btn-medium btn-black" style="background-color: #051119;">Ver<i class="fa-solid fa-eye" style="margin-left: 5px;"></i></a>
                            </div>
                          </div>
                          <div class="card-detail d-block justify-content-between align-items-baseline pt-3">
                            <h6 class="card-title text-uppercase">
                              <a href="#">Camisa Faether</a><br>
                            </h6>
                            <span class="item-price" style="font-weight: bold;font-size: 18px;">R$ 119,99</span>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 185px; margin-right: 20px;">
                        <div class="product-card position-relative">
                          <div class="image-holder">
                            <img src="/static/images/image-produtos/imagem1.png" alt="product-item" class="img-fluid">
                          </div>
                          <div class="cart-concern position-absolute">
                            <div class="cart-button d-flex">
                              <a href="#" class="btn btn-medium btn-black" style="background-color: #051119;">Ver<i class="fa-solid fa-eye" style="margin-left: 5px;"></i></a>
                            </div>
                          </div>
                          <div class="card-detail d-block justify-content-between align-items-baseline pt-3">
                            <h6 class="card-title text-uppercase">
                              <a href="#">Camisa Faether</a><br>
                            </h6>
                            <span class="item-price" style="font-weight: bold;font-size: 18px;">R$ 119,99</span>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 185px; margin-right: 20px;">
                        <div class="product-card position-relative">
                          <div class="image-holder">
                            <img src="/static/images/image-produtos/imagem1.png" alt="product-item" class="img-fluid">
                          </div>
                          <div class="cart-concern position-absolute">
                            <div class="cart-button d-flex">
                              <a href="#" class="btn btn-medium btn-black" style="background-color: #051119;">Ver<i class="fa-solid fa-eye" style="margin-left: 5px;"></i></a>
                            </div>
                          </div>
                          <div class="card-detail d-block justify-content-between align-items-baseline pt-3">
                            <h6 class="card-title text-uppercase">
                              <a href="#">Camisa Faether</a><br>
                            </h6>
                            <span class="item-price" style="font-weight: bold;font-size: 18px;">R$ 119,99</span>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 185px; margin-right: 20px;">
                        <div class="product-card position-relative">
                          <div class="image-holder">
                            <img src="/static/images/image-produtos/imagem1.png" alt="product-item" class="img-fluid">
                          </div>
                          <div class="cart-concern position-absolute">
                            <div class="cart-button d-flex">
                              <a href="#" class="btn btn-medium btn-black" style="background-color: #051119;">Ver<i class="fa-solid fa-eye" style="margin-left: 5px;"></i></a>
                            </div>
                          </div>
                          <div class="card-detail d-block justify-content-between align-items-baseline pt-3">
                            <h6 class="card-title text-uppercase">
                              <a href="#">Camisa Faether</a><br>
                            </h6>
                            <span class="item-price" style="font-weight: bold;font-size: 18px;">R$ 119,99</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
              </div>
        </section>

        <section>
            <div class="row justify-content-around">
                <div class="col-md-5 col-sm-12 mb-3">
                    <a href="#">
                        <img src="https://images.tcdn.com.br/img/img_prod/1086553/1712748427_acesso769rios.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-md-5 col-sm-12 mb-3">
                    <a href="#">
                        <img src="https://images.tcdn.com.br/img/img_prod/1086553/1712748415_jauqetas.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-11 mb-3">
                    <a href="#">
                        <img src="https://images.tcdn.com.br/img/img_prod/1086553/1712748446_frete_gratis_-_origens.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
        </section>
        

        <section id="testim" class="testim">
            <div class="testim-cover">
               <div class="wrap">
   
                   <span id="right-arrow" class="arrow right fa fa-chevron-right d-none"></span>
                   <span id="left-arrow" class="arrow left fa fa-chevron-left d-none"></span>
                   <ul id="testim-dots" class="dots">
                       <li class="dot active"></li><!--
                       --><li class="dot"></li><!--
                       --><li class="dot"></li><!--
                       --><li class="dot"></li><!--
                       --><li class="dot"></li>
                   </ul>
                   <div id="testim-content" class="cont">
                       
                       <div class="active">
                           <div class="img"><img src="https://in.bmscdn.com/iedb/artist/images/website/poster/large/kartik-aaryan-1045198-08-12-2017-06-34-11.jpg" alt=""></div>
                           <h2>Lorem P. Ipsum</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                       </div>
   
                       <div>
                           <div class="img"><img src="https://timesofindia.indiatimes.com/thumb/msid-75752690,width-800,height-600,resizemode-4/75752690.jpg" alt=""></div>
                           <h2>Mr. Lorem Ipsum</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                       </div>
   
                       <div>
                           <div class="img"><img src="https://p16.muscdn.com/img/musically-maliva-obj/1627333501517830~c5_720x720.jpeg" alt=""></div>
                           <h2>Lorem Ipsum</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                       </div>
   
                       <div>
                           <div class="img"><img src="https://p16-sg-default.akamaized.net/aweme/1080x1080/tiktok-obj/1666413671597057.jpeg" alt=""></div>
                           <h2>Lorem De Ipsum</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                       </div>
   
                       <div>
                           <div class="img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKLJe1Lrz2N3ufVSwQokSJ79jGBbIptXuVnsdxMmNUlE14ohwp&usqp=CAU" alt=""></div>
                           <h2>Ms. Lorem R. Ipsum</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                       </div>
   
                   </div>
   
               </div>
            </div>
       </section>
   </div>
        <section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="subscribe-content text-dark-mono d-flex flex-wrap justify-content-center align-items-center padding-medium">
                        <div class="col-md-6 col-sm-12">
                            <div class="display-header pe-3">
                                <div class="d-flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 30px;margin-top: 10px;" width="63" height="53" fill="none" viewBox="0 0 63 53"><path fill="#ffc72c" d="M32.75 33.7l7.83 7.86-7.85 7.86 3.1 3.08 10.94-10.94-10.94-10.94-3.08 3.09zM48.06 33.7l7.83 7.86-7.85 7.86 3.1 3.08 10.94-10.94-10.93-10.94-3.09 3.09z"></path><path fill="#ffc72c" d="M27.08 39.38H5.21V6.37l25 17.3a2.19 2.19 0 002.5 0l25-17.3v19.88h4.37V4.37A4.37 4.37 0 0057.71 0H5.2A4.37 4.37 0 00.83 4.38v35a4.38 4.38 0 004.38 4.37h21.87v-4.38zm25.82-35L31.46 19.2 10.02 4.37H52.9z"></path></svg>
                                    <div class="d-block ml-4">
                                        <h2 class="display-7 text-uppercase">NEWSLETTER</h2>
                                        <p>Cadastre-se e receba ofertas e novidades incríveis.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <form class="subscription-form validate">
                                <div class="input-group flex-wrap">
                                    <input
                                        class="form-control btn-rounded-none"
                                        type="email"
                                        name="EMAIL"
                                        placeholder="SEU EMAIL AQUI"
                                        required=""
                                    >
                                    <button style="background-color: black;border: none;padding: 5px;width: 150px;color: white;" class=" text-uppercase btn-rounded-none" type="submit" name="subscribe">ENVIAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer" class="overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="footer-top-area">
                        <div class="row d-flex flex-wrap justify-content-between">
                            <div class="col-lg-3 col-sm-6 pb-3">
                                <div class="footer-menu">
                                    <h2>LOGO</h2>
                                    <p>Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat aenean odio erat nullam fringilla.</p>
                                    <div class="social-links">
                                        <ul class="d-flex list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <svg class="facebook">
                                                        <use xlink:href="#facebook"/>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <svg class="instagram">
                                                        <use xlink:href="#instagram"/>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <svg class="twitter">
                                                        <use xlink:href="#twitter"/>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <svg class="linkedin">
                                                        <use xlink:href="#linkedin"/>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <svg class="youtube">
                                                        <use xlink:href="#youtube"/>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 pb-3">
                                <div class="footer-menu text-uppercase">
                                    <h5 class="widget-title pb-2">Quick Links</h5>
                                    <ul class="menu-list list-unstyled text-uppercase">
                                        <li class="menu-item pb-2">
                                            <a href="#">Home</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="#">About</a>
                                        </li>

                                        <li class="menu-item pb-2">
                                            <a href="#">Blogs</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="#">Contact</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="{{url_for('adm_panelLogin')}}" target="_blank">ADM PAINEL</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 pb-3">
                                <div class="footer-menu text-uppercase">
                                    <h5 class="widget-title pb-2">Help & Info Help</h5>
                                    <ul class="menu-list list-unstyled">
                                        <li class="menu-item pb-2">
                                            <a href="#">Track Your Order</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="#">Returns Policies</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="#">Shipping + Delivery</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="#">Faqs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 pb-3">
                                <div class="footer-menu contact-item">
                                    <h5 class="widget-title text-uppercase pb-2">Contate Nós</h5>
                                    <p>
                                        Do you have any queries or suggestions?
                                        <a href="mailto:">yourinfo@gmail.com</a>
                                    </p>
                                    <p>
                                        If you need support? Just give us a call.
                                        <a href="">+55 111 222 333 44</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </footer>
        <div id="footer-bottom">
            <div class="container">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-md-4 col-sm-6">
                        <div class="Shipping d-flex">
                            <p>We ship with:</p>
                            <div class="card-wrap ps-2">
                                <img src="/static/images/dhl.png" alt="visa">
                                <img src="/static/images/shippingcard.png" alt="mastercard">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="payment-method d-flex">
                            <p>Payment options:</p>
                            <div class="card-wrap ps-2">
                                <img src="/static/images/visa.jpg" alt="visa">
                                <img src="/static/images/mastercard.jpg" alt="mastercard">
                                <img src="/static/images/paypal.jpg" alt="paypal">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="copyright">

                            <p>
                                <!-- © Copyright 
                                <span id="anoAtual"></span> 
                                site. -->
                                 Desenhado por 
                                <a href="">João Guilherme</a>
                                Distribuição por 
                                <a href="">João Guilherme</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery-1.11.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel"
            style="z-index: 999999999999999999;"
        >
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel" style="display: flex;align-items: center;">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        width="36"
                        height="41"
                        viewBox="0 0 36 41"
                        class="mr-5"
                    >
                        <path
                            fill="#000000"
                            fill-rule="evenodd"
                            d="M17.54 2.5a5 5 0 00-5 5v11.26a1.25 1.25 0 11-2.5 0V7.5a7.5 7.5 0 1115 0v11.26a1.25 1.25 0 11-2.5 0V7.5a5 5 0 00-5-5z"
                            clip-rule="evenodd"
                        ></path>
                        <path
                            fill="#000000"
                            fill-rule="evenodd"
                            d="M6.05 15a1.25 1.25 0 00-1.25 1.13L2.52 33.4a3.75 3.75 0 003.73 4.12h22.57a3.75 3.75 0 003.73-4.12l-2.28-17.26a1.25 1.25 0 00-1.24-1.12H6.05zm-3.74.88a3.75 3.75 0 013.74-3.38h22.98a3.75 3.75 0 013.73 3.38l2.28 17.26a6.25 6.25 0 01-6.22 6.87H6.25a6.25 6.25 0 01-6.22-6.87l2.28-17.26z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <span class="ml-4" style="  font-family: 'Baloo 2', sans-serif;font-size: 24px;font-weight: bold;margin-left: 15px;
  ">Sacola de compras</span>
                </h5>
                <button
                    type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                ></button>
            </div>
            <div class="offcanvas-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 carrinho-list">
                            <div class="d-flex">
                                <img src="/static/images/image-produtos/imagem1.png" style="height: 100px;" alt="">
                                <div class="d-block">
                                    <ul>
                                        <li>Nome produto</li>
                                        <li>Cor: color</li>
                                        <li>Tamanho: tamanho</li>
                                        <li>Quantidade: quantidade</li>
                                        <li style="font-weight: bold;">R$
                                            <span class="ml-3">preço</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Botão de lixeira -->
                                <button type="button" style="
                        position: absolute;
                        float: right;
                        margin-left: 85%;
                        border: none;
                        background: transparent;
                        " aria-label="Remover">
                                    <i class="fas fa-trash" style="font-size: 18px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-7">
                                <button                     data-bs-dismiss="offcanvas" style="background-color: rgb(0, 162, 255);color: white;font-weight: bold;border: none;text-transform: uppercase;padding: 10px;">Continuar comprando</button>
                            </div>
                            <div class="col-5">
                                <button style="background-color: rgb(0, 216, 151);font-weight: bold;border: none;padding: 10px;">COMPRAR AGORA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
